{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">FASHION DATASET!</h1>
  <p class="serif">Podrás encontrar la mejores recomendaciones de ropas a la moda </p>
  <hr class="my-4">El más eficiente</p>
  <a class="btn btn-primary btn-lg" href="/indice-invertido" role="button">Indice Invertido</a>
  <a class="btn btn-primary btn-lg" href="/PgAdmin" role="button">PgAdmin</a>

</div>

<!-- <div class="jumbotron">

</div>
se comenta con ctrl + k + c -->
{% endblock%}
