{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">FASHION DATASET!</h1>
  <p class="serif">Podrás encontrar las mejores recomendaciones de ropa a la moda </p>
  <hr class="my-4">
  <p class="lead">El más eficiente</p>

  <div class="search-container">
    <form action="/consulta" method="post">
      <input type="text" id="searchQuery" placeholder="Ingresa la Query...">
      <input type="number" id="topk" placeholder="Ingresa el top K...">
      <button id="selection-button" type="button">Buscar</button>
    </form>
  </div>

  <div id="scroll-target" class="container">
    <div class="button-container">
      <button id="tablaA" class="selection-button active" onclick="seleccionarTabla('tablaA')">PostgreSQL</button>
      <button id="tablaB" class="selection-button" onclick="seleccionarTabla('tablaB')">Index Invert</button>
    </div> 
  </div>

  <div class="tiempo-ejecucion">
    Tiempo de ejecución de la consulta: <span id="tiempo_consulta">0</span> segundos
  </div>

  <div class="pagination-buttons">
    <button class="pagination-button disabled" onclick="previousPage()">Previous</button>
    <button class="pagination-button" onclick="nextPage()">Next</button>
  </div>
</div>

<!-- aquí se mostrará la tabla seleccionada -->
<div id="tablaA-container" class="tabla-container" style="display: none;">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Gender</th>
        <th>Master Category</th>
        <th>Sub Category</th>
        <th>Article Type</th>
        <th>Base Colour</th>
        <th>Season</th>
        <th>Year</th>
        <th>Usage</th>
        <th>Product Display Name</th>
      </tr>
    </thead>
    <tbody id="tablaA-body">
      {% for result in resultados %}
        <tr>
          <td>{{ result[0] }}</td>
          <td>{{ result[1] }}</td>
          <td>{{ result[2] }}</td>
          <td>{{ result[3] }}</td>
          <td>{{ result[4] }}</td>
          <td>{{ result[5] }}</td>
          <td>{{ result[6] }}</td>
          <td>{{ result[7] }}</td>
          <td>{{ result[8] }}</td>
          <td>{{ result[9] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div id="tablaB-container" class="tabla-container" style="display: none;">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Gender</th>
        <th>Master Category</th>
        <th>Sub Category</th>
        <th>Article Type</th>
        <th>Base Colour</th>
        <th>Season</th>
        <th>Year</th>
        <th>Usage</th>
        <th>Product Display Name</th>
      </tr>
    </thead>
    <tbody id="tablaB-body">
    </tbody>
  </table>
</div>

<script>
function seleccionarTabla(tabla) {
  const tablaA = document.getElementById('tablaA');
  const tablaB = document.getElementById('tablaB');
  const tablaAContainer = document.getElementById('tablaA-container');
  const tablaBContainer = document.getElementById('tablaB-container');

  if (tabla === 'tablaA') {
    tablaA.classList.add('active');
    tablaB.classList.remove('active');
    tablaAContainer.style.display = 'block';
    tablaBContainer.style.display = 'none';
  } else if (tabla === 'tablaB') {
    tablaA.classList.remove('active');
    tablaB.classList.add('active');
    tablaAContainer.style.display = 'none';
    tablaBContainer.style.display = 'block';
  }
}

function previousPage() {
  // Implementa la lógica para ir a la página anterior
}

function nextPage() {
  // Implementa la lógica para ir a la página siguiente
}

document.getElementById('selection-button').addEventListener('click', function() {
  const searchTerm = document.getElementById('searchQuery').value;
  const topK = document.getElementById('topk').value;
  // Realiza la búsqueda según la tabla seleccionada
  if (document.getElementById('tablaA').classList.contains('active')) {
    searchTableA(searchTerm, topK);
  } else if (document.getElementById('tablaB').classList.contains('active')) {
    searchTableB(searchTerm, topK);
  }
});

function searchTableA(searchTerm, topK) {
  // Realiza la búsqueda en la tabla A y actualiza la interfaz
  fetch('/search', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({searchTerm,topK}),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    document.getElementById('tablaA-body').innerHTML = '';
    data.forEach(result => {
      document.getElementById('tablaA-body').innerHTML += `
        <tr>
          <td>${result[0]}</td>
          <td>${result[1]}</td>
          <td>${result[2]}</td>
          <td>${result[3]}</td>
          <td>${result[4]}</td>
          <td>${result[5]}</td>
          <td>${result[6]}</td>
          <td>${result[7]}</td>
          <td>${result[8]}</td>
          <td>${result[9]}</td>
        </tr>
      `;
    });
  })
  .catch((error) => {
    console.error('Error:', error);
  });
  // Puedes usar AJAX o fetch para hacer la solicitud al servidor
}

function searchTableB(searchTerm, topK) {
  // Realiza la búsqueda en la tabla B y actualiza la interfaz
  
  // Puedes usar AJAX o fetch para hacer la solicitud al servidor
}
</script>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
</style>

{% endblock %}
