{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">FASHION DATASET!</h1>
  <p class="serif">Podrás encontrar las mejores recomendaciones de ropa a la moda </p>
  <hr class="my-4">El más eficiente</p>

  <div class="search-container">
    <form action="/consulta" method="post">
      <input type="text" name="query" placeholder="Ingresa la Query...">
      <input type="text" name="topk" placeholder="Ingresa el top K...">
      <button type="submit" name="action" value="Indice">Indice Invertido</button>
      <button type="submit" name="action" value="PgAdmin"> PgAdmin</button>
    </form>
  </div>

</div>

{% endblock %}
