<!-- FILEPATH: /C:/Users/ASUS/OneDrive - UNIVERSIDAD DE INGENIERIA Y TECNOLOGIA/Ciclo 5/BASE DE DATOS 2 - Sanchez Enriquez, Heider Ysaias/PROYECTOS/PROYECTO 2/gui_Fronted/python-flask-first-website/templates/todas-ropas.html -->

<!DOCTYPE html>

<html>

    <body>
        <center><h1>Comparación de Índice Invertido y PgAdmin</h1></center>
        
        

        <center><a href="{{ url_for('home') }}">Regresar</a></center>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
        
        <div class="tabla-container">
            <table class="tabla-izquierda">
                <caption>Indice Invertido</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
            </table>


        <table class="tabla-derecha">
            <caption>PgAdmin</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        </div>
        <script src="script.js"></script>
    </body>
</html>
