<!-- FILEPATH: /C:/Users/ASUS/OneDrive - UNIVERSIDAD DE INGENIERIA Y TECNOLOGIA/Ciclo 5/BASE DE DATOS 2 - Sanchez Enriquez, Heider Ysaias/PROYECTOS/PROYECTO 2/gui_Fronted/python-flask-first-website/templates/todas-ropas.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Todas las Ropas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Ingresa la Query...">
            <button id="search-button">Buscar</button>
        </div>
        
        <script src="script.js"></script>
    </body>
</html>
